<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alien0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{187,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,271}}</string>
                <key>sourceSize</key>
                <string>{187,271}</string>
            </dict>
            <key>alien1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,0},{207,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,262}}</string>
                <key>sourceSize</key>
                <string>{207,262}</string>
            </dict>
            <key>alien2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{115,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,273}}</string>
                <key>sourceSize</key>
                <string>{115,273}</string>
            </dict>
            <key>alien3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,273},{214,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,277}}</string>
                <key>sourceSize</key>
                <string>{214,277}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>alienframes.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cf85464682a1437aac59c659090c99c:ae87cbf16dcd61cc86bd7485efccc937:c6e5d98602489b682f9e3b95aec269d2$</string>
            <key>textureFileName</key>
            <string>alienframes.png</string>
        </dict>
    </dict>
</plist>
